.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.939453;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.926758;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.740234;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._1{margin-left:-1.040000px;}
._4{width:328.400000px;}
._7{width:505.200000px;}
._5{width:566.680000px;}
._6{width:744.440000px;}
._0{width:786.160000px;}
._2{width:804.960000px;}
._3{width:1454.080000px;}
.fc2{color:rgb(192,80,77);}
.fc1{color:rgb(0,0,128);}
.fc0{color:rgb(0,0,0);}
.fs0{font-size:40.000000px;}
.fs1{font-size:44.000000px;}
.fs2{font-size:56.000000px;}
.y1d{bottom:81.800000px;}
.y0{bottom:117.500000px;}
.y1c{bottom:122.800000px;}
.y1b{bottom:139.900000px;}
.y1a{bottom:156.900000px;}
.y19{bottom:174.000000px;}
.y16{bottom:219.400000px;}
.y18{bottom:231.000000px;}
.y17{bottom:242.500000px;}
.y15{bottom:275.400000px;}
.y14{bottom:330.300000px;}
.y13{bottom:348.600000px;}
.y12{bottom:385.200000px;}
.y11{bottom:440.100000px;}
.y10{bottom:458.100000px;}
.yf{bottom:500.200000px;}
.ye{bottom:511.700000px;}
.yd{bottom:523.200000px;}
.yc{bottom:534.700000px;}
.yb{bottom:546.200000px;}
.ya{bottom:577.000000px;}
.y9{bottom:595.300000px;}
.y8{bottom:613.600000px;}
.y7{bottom:631.900000px;}
.y6{bottom:650.200000px;}
.y5{bottom:694.600000px;}
.y4{bottom:706.100000px;}
.y3{bottom:717.600000px;}
.y2{bottom:729.100000px;}
.y1{bottom:740.600000px;}
.h3{height:29.121094px;}
.h2{height:29.160156px;}
.h4{height:40.769531px;}
.h1{height:638.500000px;}
.h0{height:792.000000px;}
.w1{width:552.500000px;}
.w0{width:612.000000px;}
.x0{left:35.500000px;}
.x6{left:39.000000px;}
.x9{left:41.100000px;}
.xa{left:90.800000px;}
.xd{left:99.200000px;}
.xb{left:106.900000px;}
.xc{left:128.700000px;}
.xe{left:360.500000px;}
.x7{left:407.300000px;}
.x8{left:416.800000px;}
.x2{left:454.000000px;}
.x1{left:469.500000px;}
.x4{left:501.000000px;}
.x3{left:502.800000px;}
.x5{left:505.600000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._1{margin-left:-1.386667pt;}
._4{width:437.866667pt;}
._7{width:673.600000pt;}
._5{width:755.573333pt;}
._6{width:992.586667pt;}
._0{width:1048.213333pt;}
._2{width:1073.280000pt;}
._3{width:1938.773333pt;}
.fs0{font-size:53.333333pt;}
.fs1{font-size:58.666667pt;}
.fs2{font-size:74.666667pt;}
.y1d{bottom:109.066667pt;}
.y0{bottom:156.666667pt;}
.y1c{bottom:163.733333pt;}
.y1b{bottom:186.533333pt;}
.y1a{bottom:209.200000pt;}
.y19{bottom:232.000000pt;}
.y16{bottom:292.533333pt;}
.y18{bottom:308.000000pt;}
.y17{bottom:323.333333pt;}
.y15{bottom:367.200000pt;}
.y14{bottom:440.400000pt;}
.y13{bottom:464.800000pt;}
.y12{bottom:513.600000pt;}
.y11{bottom:586.800000pt;}
.y10{bottom:610.800000pt;}
.yf{bottom:666.933333pt;}
.ye{bottom:682.266667pt;}
.yd{bottom:697.600000pt;}
.yc{bottom:712.933333pt;}
.yb{bottom:728.266667pt;}
.ya{bottom:769.333333pt;}
.y9{bottom:793.733333pt;}
.y8{bottom:818.133333pt;}
.y7{bottom:842.533333pt;}
.y6{bottom:866.933333pt;}
.y5{bottom:926.133333pt;}
.y4{bottom:941.466667pt;}
.y3{bottom:956.800000pt;}
.y2{bottom:972.133333pt;}
.y1{bottom:987.466667pt;}
.h3{height:38.828125pt;}
.h2{height:38.880208pt;}
.h4{height:54.359375pt;}
.h1{height:851.333333pt;}
.h0{height:1056.000000pt;}
.w1{width:736.666667pt;}
.w0{width:816.000000pt;}
.x0{left:47.333333pt;}
.x6{left:52.000000pt;}
.x9{left:54.800000pt;}
.xa{left:121.066667pt;}
.xd{left:132.266667pt;}
.xb{left:142.533333pt;}
.xc{left:171.600000pt;}
.xe{left:480.666667pt;}
.x7{left:543.066667pt;}
.x8{left:555.733333pt;}
.x2{left:605.333333pt;}
.x1{left:626.000000pt;}
.x4{left:668.000000pt;}
.x3{left:670.400000pt;}
.x5{left:674.133333pt;}
}
